/* STYLING */
:root {
  --color-background: #0a0a0a;

  --max-width-page: 701px;
  --max-height-gap: 29px;

  --color-background-selection: white;
  --color-text-selection: black;

  --default-font: 'Roboto Mono', monospace;

  --hero-author-avatar-border: 1px solid #a9a9a9;
  --hero-author-avatar-height: 37px;
  --hero-author-avatar-width: 37px;

  --color-content-link: white;
}

/* TYPE SELECTORS */
html {
  background: var(--color-background);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--default-font);
  padding: 61px 5px 61px 5px;
}

@supports (scrollbar-gutter: stable) {
  html {
    overflow-y: auto;
    scrollbar-gutter: stable;
  }
}

main {
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  hyphens: auto;
  width: 100%;
  max-width: var(--max-width-page);
  gap: var(--max-height-gap);
}

main > section {
  display: flex;
}

a {
  color: white;
  outline: none;
}

pre,
code {
  white-space: pre-wrap;
  word-break: break-word;
}

pre {
  overflow-x: auto;
  padding: 1em;
  background-color: #f5f5f5;
  border-radius: 5px;
}

::selection {
  background-color: var(--color-background-selection);
  color: var(--color-text-selection);
}

/* CLASS SELECTORS */
section.hero {
  align-items: center;
  color: white;
  padding: 0px 5px 0px 5px;
}

section.hero .author {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 5px;
}

section.hero .author .avatar {
  border: var(--hero-author-avatar-border);
  content: url(https://avatars.githubusercontent.com/u/68818452?v=4);
  width: var(--hero-author-avatar-height);
  height: var(--hero-author-avatar-width);
}

section.hero .author .meta {
  display: flex;
  flex-direction: column;
  user-select: none;
  gap: 3px;
}

section.hero .author .meta .name {
  font-size: 0.71rem;
}

section.hero .author .meta .sub {
  font-size: 0.61rem;
  color: #a9a9a9;
}

section.hero .entries {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 5px;
}

section.hero .entries .meta {
  display: flex;
  flex-direction: column;
  user-select: none;
  gap: 3px;
}

section.hero .entries .meta .name {
  text-decoration: none;
  font-size: 0.71rem;
}

section.hero .page {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 5px;
}

section.hero .page .meta {
  display: flex;
  flex-direction: column;
  user-select: none;
  gap: 41px;
}

section.hero .page .meta .name {
  text-decoration: none;
  font-size: 0.71rem;
}

section.hero .page .meta .title {
  text-decoration: none;
  font-size: 0.71rem;
}

section.hero .page .meta .date {
  text-decoration: none;
  font-size: 0.71rem;
  color: #a9a9a9;
}

section.hero .links {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 5px;
}

section.content {
  flex: 1;
  flex-direction: column;
  color: #a9a9a9;
  gap: 3px;
  max-width: var(--max-width-page);
  width: 100%;
}

section.content article.index {
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  font-size: 0.73rem;
  padding: 10px 5px 10px 5px;
  border-bottom: 1px solid #161616;
  .title {
    flex: 1;
    text-decoration: none;
  }

  &:hover {
    .title {
      text-decoration: underline;
      text-decoration-color: #2f2f2f;
      text-underline-offset: 0.23rem;
    }
  }

  &:nth-child(even) {
    border-left: 1px solid #161616;
  }
  &:nth-child(odd) {
    border-right: 1px solid #161616;
  }
}

@media (max-width: 767px) {
  section.content article.index {
    flex-direction: column;
    align-items: normal;
    justify-content: center;
    gap: 3px;
    .date {
      font-size: 0.67rem;
    }
  }
}

section.content article.page {
  font-size: 0.73rem;
  line-height: 0.97rem;
  padding: 3px;
}

section.content article.page a {
  color: var(--color-content-link);
  font-style: italic;
  font-weight: 400;
}

section.content article.page img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px 0;
}
