<script>
  (function () {
    const projects = [
      { name: "live-security-monitor", url: "https://github.com/chomnr/live-security-monitor" },
      { name: "blog-old", url: "https://github.com/chomnr/blog-old" },
      { name: "terminal-chat-system", url: "https://github.com/chomnr/terminal-chat-system" },
      { name: "infinitytoone", url: "https://github.com/chomnr/infinitytoone" },
      { name: "win7-emulator", url: "https://github.com/chomnr/win7-emulator" },
      { name: "simple-credential-manager", url: "https://github.com/chomnr/SimpleCredentialManager" },
      { name: "ark", url: "https://github.com/chomnr/ark" },
      { name: "brute", url: "https://github.com/chomnr/brute" },
      { name: "vault", url: "https://github.com/chomnr/vault" },
      { name: "solid-posthog", url: "https://github.com/chomnr/solid-posthog" },
      { name: "solid-circle-flags", url: "https://github.com/chomnr/solid-circle-flags" },
    ]
    const uniqueProjects = Array.from(new Map(projects.map(p => [p.name, p])).values());
    const container = document.getElementById("projects")
    if (container) {
      uniqueProjects.forEach((project, index) => {
        const link = document.createElement("a")
        link.href = project.url
        link.textContent = project.name;
        link.target = "_blank"
        container.appendChild(link)
        if (index !== uniqueProjects.length - 1) {
          container.appendChild(document.createTextNode(", "))
        }
      })
    }
  })();
</script>