{% extends "base.html" %}
{% block content %}
<section class="hero">
    <div class="author">
        <div class="avatar"></div>
        <div class="meta">
            <span class="name">ZELJKO VRANJES</span>
            <span class="sub">PERSONAL BLOG</span>
        </div>
    </div>
    <div class="links">
        {% include "partial/social/github.html" %}
        {% include "partial/social/x.html" %}
        {% include "partial/social/npm.html" %}
    </div>
</section>
<section class="about">
  <article>
    <div class="title">ABOUT</div>
    <div class="content">
      I'm a <span id="age"></span> year old with a strong passion for software development and investing. 
      I enjoy writing clean, simple code and occasionally explore reverse engineering. I also dabble 
      in design from time to time. <a href="https://drive.proton.me/urls/9PBDC10K2G#So7Df2vsCGYb">resume</a>.
    </div>
  </article>
  <article>
    <div class="title">PROJECTS</div>
    <div id="projects" class="content"></div>
  </article>
</section>
<section class="content">
<div class="title blog singleton" style="padding-left: 5px;padding-bottom: 4px;"><a href="/blog/">LATEST ENTRIES&nbsp;↪</a></div>
{% set blog_section = get_section(path="blog/_index.md") %}
{% set post_count = 0 %}
{% for post in blog_section.pages %}
  {% if post.slug != "investment-income" and post_count < 3 %}
    <article class="index" onclick="window.location='{{ post.permalink }}'" style="cursor: pointer;">
      <span class="title">{{ post.title }}</span>
      <span class="date">
        <span class="view-count" data-slug="{{ post.slug }}">0</span> views • {{ post.date | date(format="%B, %-d, %Y") }}
      </span>
    </article>
    {% set_global post_count = post_count + 1 %}
  {% endif %}
{% endfor %}
</section>
<section class="contact">
  <article>
    <div class="title">CONTACT</div>
    <div class="content">
      If you need to reach out to me send me an email at <a href="mailto:hello@zeljko.me">hello@zeljko.me</a>.
    </div>
  </article>
</section>
{% include "partial/script/projects.html" %}
{% include "partial/script/age.html" %}
{% endblock content %}