<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{% if page %}{{ page.title }} | {% endif %}Zeljko Vranjes - Blog</title>
<meta property="og:title" content="{% if page %}{{ page.title }}{% elif section %}{{ section.title }}{% else %}Zeljko's Blog{% endif %}" />
<meta property="og:type" content="website" />
<meta property="og:URL" content="https://blog.zeljkovranjes.com/" />
<meta property="og:image" content="https://avatars.githubusercontent.com/u/68818452?v=4" />
<meta property="og:description" content="I write about software and investing." />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
  rel="stylesheet" />
{% include "partial/script/view-count.html" %}
{% for stylesheet in config.extra.stylesheets %}
<link rel="stylesheet" href="{{ get_url(path=stylesheet) }}" />
{% endfor %}
